@import "variables.scss";

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $color-ligth;
  padding: 20px;
  border-radius: 15px;

  .icono {
    color: $color-primary;
    padding: 10px;
  }
  h3 {
    font-size: 17px;
    font-weight: 600;
  }
  p {
    font-size: 15px;
    margin-top: 1rem;
    line-height: 1.2;
  }
}
