@import "variables";
.clientes {
    width: 100%;
    padding: 50px 0 50px 0;

    h2 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 12px;
        margin: auto;
        width: 90%;
        max-width: 900px;
        align-items: center;

        .container-img {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 10px;
        }
    }
}
