@import "variables";
.contacto {
    width: 100%;
    h2 {
        text-align: center;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-self: center;
            color: $color-ligth;
            padding: 50px;
            h3 {
                color: $color-dark;
            }
        }
        input {
            width: 100%;
            padding: 14px 20px;
            margin: 8px 0;
            border: 1px solid gray;
            border-radius: 4px;
            cursor: pointer;
        }
        button {
            width: 100%;
            padding: 10px;
            color: $color-ligth;
            border: none;
            border-radius: 5px;
            background-image: linear-gradient(135deg, rgba(154, 35, 138, 1) 20%, #5151e5 100%);
        }
    }

    .aside {
        height: 100%;
        background-color:#e6e6e6;
        display: flex;
        align-self: center;
        flex-direction: column;
        padding: 50px;

        .icono {
            color: $color-primary;
        }
        p,
        a {
            font-size: 15px;
            margin-top: 10px;
            line-height: 1.2;
        }
        a:hover {
            color: $color-primary;
        }
        p:hover {
            color: $color-primary;
        }
    }
}
