@import "variables.scss";

.nav-bar {
    background-color: $color-ligth;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 70px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: $color-dark;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding: 0.75rem;
            a {
                color: $color-dark;
                height: 100%;
            }
        }
    }

    a:hover {
        color: $color-primary;
    }
}
