@import "variables";

.container{
    display: flex;
    color:$color-ligth;
    color:black;
    height: 60vh;
    background-color: #eeee;
    
    .container-info{
    text-align: justify;
    padding: 10px;
   


    .container-img{

    }

    }
}
