@import "variables";

.container {
    display: flex;
    justify-content: space-between;
    background-color: #eeee;
    height: 60vh;

    .info {
        background-color: aqua;
        width: 300px;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .container-img {
        background-color: red;
        width: 300px;
        align-self: center;
        padding: 10px;
    }
}
