@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap);
//theme colors
$color-primary: #9a238a;
$color-ligth:#FFFFFF;
$color-dark:rgba(0, 0, 0, 0.85);

//google font
$font-family: Montserrat;
